<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/microphone.css' />
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <script type="text/javascript" src='/javascripts/jquery.js'></script>
    <script type="text/javascript" src='/javascripts/microphone.js'></script>
    <script type="text/javascript" src='/javascripts/scripts.js'></script>
  </head>
  <body>
    <h1>Hue Command and Control</h1>
    <div id='microphone'></div>
    <pre id='result'></pre>
    <div id='info'></div>
  </body>
</html>
